*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 40px;
    margin: 40px;
}
#btns{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-flow: column wrap;
}
button{
    margin: 4px;
    width: 60px;
    height: 18px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(14, 13, 13);
    cursor: pointer;
    text-align: center;
}
button:hover{
    color: green;
    background-color: white;
    transform: translateY(-3px);
}
.container{
    width: 600px;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
}

.res{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
p{
    font-weight: bold;
    text-align: justify;

}