*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bomdia:rgb(0, 183, 255);
    --boatarde:rgb(255, 208, 0);
    --boanoite:rgb(78, 73, 73);
    --cor1:white;
    --cor2: black;
    --cor3: #383636cc;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bomdia);

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column  wrap;
    width: 100vw;
    height: 100vh;
}
.container{
    box-shadow: 0px 0px 8px;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 30px;
    background-color: var(--cor1);
}
.imagem{
    overflow: hidden;
    width: 350px;
    height: 350px;
    position: relative;
}
#img1,#img2,#img3{
    object-fit: cover;
    width: 350px;
    height: 350px;
    position: absolute;
    border-radius: 300px;
}
#img1{
    z-index: 1;
}
#img2, #img3{
    z-index: 0;
}
h1{
    font-size: 50px;
    color: var(--cor1);
    margin-bottom: 50px;
}
p{
    font-weight: bold;
    color: var(--cor2);
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    color: var(--cor3);
}