* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgb(175, 175, 207), rgb(107, 219, 133));
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.container {
    width: 500px;
    height: 180px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(90, 89, 87);
    display: flex;
    gap: 20px;
}
input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
    
}
label{
    font-weight: bold;
    color: blue;
}
#ger{
    margin: 20px;
    margin-left: 50%;
    padding: 3px;
    width: 80px;
    border: none;
    background-color: rgb(19, 36, 190);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(14, 13, 13);
    cursor: pointer;
}
#ger:hover{
    color: blue;
    background-color: white;
    transform: translateY(-3px);
}
input{
    width: 250px;
    height: 30px;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 10px;
}
#res{
    color: black;
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}
h1{
    color: white;
    font-size: 40px;
    margin: 40px;
}