*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left,rgb(175, 175, 207) , rgb(107, 219, 133) );
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
div{
    width: 400px;
    height: auto;
    background-color: white;
    padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 7px rgb(90, 89, 87);
     overflow: auto;
}
.msg{
    background-color: dimgray;
    font-size: 15px;
    padding: 10px;
    border-left: 6px solid  black;
    margin-bottom: 20px;
    text-align: justify;
    color: rgb(226, 209, 209);
}
label{
    font-weight: bold;
    color: blue;
}
input{
    margin: 5px;
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgb(141, 183, 219);
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
#fim{
    margin-left: 27px;
}
h1{
    color: white;
    font-size: 40px;
    margin: 40px;
}
span{
    margin-left: 30%;
    color: darkgray;
}
#res{
    margin-bottom: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 20px;
}
#ver{
    margin: 20px;
    margin-left: 40%;
    padding: 3px;
    width: 80px;
    border: none;
    background-color: rgb(19, 36, 190);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(14, 13, 13);
    cursor: pointer;
}
#ver:hover{
    color: blue;
    background-color: white;
    transform: translateY(-3px);
}
input[type = "number"]::-webkit-inner-spin-button{
    margin: 0;
    appearance: none;
}