* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: black transparent;
    transition: 0.7s;
    z-index: 2;
}


header {
    width: 35%;
    height: 100vh;
    position: fixed;
    background-color: white;
    transform: translateX(-100%);
    transition: ease-in 0.3s;
    z-index: 2;
}

.menu {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}


.links {
    display: flex;
    flex-flow: column wrap;
    gap: 80px;
    margin: 20px;
    margin-top: 50px;
    border-top: 2px  dashed darkgrey;
    padding-top: 40px;
    font-weight: 800;
    color: brown;
}

li {
    list-style: none;
    background-color: darkgray;
    padding: 4px;
    cursor: pointer;
}

li:hover {
    color: darkgray;
    background-color: brown;
    transition: 0.5s;
}

.abrir {
    transform: translateX(0);
    transition:  0.3 ease;
}
.escuro{
    background-color: rgb(3, 3, 15);
    color: white;
    transition: 0.2s;
}
.escuromenu{
    background-color: rgba(13, 20, 20, 0.836);
    color: black;
    transition: 0.6s;
}

